.sidebar-group .sidebar-heading span{
  font-size: 1.4rem;
  color: #d2ba14;
  }
    .theme-default-content{
  font-size:18px;
  
}
.sidebar-sub-headers .sidebar-sub-header .sidebar-link{
    font-size: 16px;
    // font-weight: bold
  }
.sidebar-sub-headers .sidebar-sub-header .active{
    font-weight: bold!important;
    }
